@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@400;700&family=Maven+Pro:wght@400;600&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(77, 77, 77);
  background: black;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 3rem;
}

.need-help {
  margin-bottom: 1rem;
}

.name-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(175, 175, 232);
}

.number-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(175, 175, 232);

}

.number {
  padding-left: 0.5rem;
  width: 90%;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid gray;
}

.description-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(175, 175, 232);
}

textarea {
  margin-top: 1rem;
  width: 90%;
  height: 6rem;
  padding: 0rem 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: 3px solid gray;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.send-alert {
  margin-top: 1.5rem;
  width: 7rem;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  font-size: 1rem;
  border: 3px solid gray;
}

.send-alert:hover {
  background: rgb(181, 179, 179);
  transition: all 0.3s ease 0s;
}

iframe {
  margin-top: 1.5rem;
  height: 15rem;
  width: 90%;
  border: 2px solid red;
}

.quick-btn {
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  border: 3px solid gray;
}

.instant-title {
  margin-bottom: 1rem;
  color: rgb(245, 98, 98);
}

.or {
  margin-top: 1rem;
  font-size: 1.5rem;
}

